<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>The War of Five Kings</title>
<link rel="shortcut icon" href="149185244126308.png"/>
<link rel="stylesheet" type="text/css" href="style.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/css/view.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/type/marketdeco.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/type/merriweather.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/css/queries.css" media="all" />
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="style/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="style/js/html5.js"></script>
<script type="text/javascript" src="style/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="style/js/selectnav.js"></script>
<script type="text/javascript" src="style/js/twitter.min.js"></script>
</head>

<body>
<div id="page" class="hfeed">
<div id="wrapper" style="border:1px">
<header id="branding" role="banner">
  <h1 id="site-title"> 
  	<a href="index.html" title="The War of Five Kings: Battles Visualisation" rel="home">
    		<img style="width:100%" src="images/images.jpg" alt="Serendipity" />
    </a> 
  </h1>
<nav id="access" class="access" role="navigation">
        <div id="menu" class="menu">
        	<ul id="tiny" deluminate_imagetype="png">
				<li><a href="index.html" class="">Introduction</a>
					<ul style="top: 42px; visibility: visible; left: 0px; width: 130px; display: none;">
			            <li><a href="index.html#target_audience">Target Audience</a></li>
			            <li><a href="index.html#data_set">Data Set</a></li>
			            <li><a href="index.html#visual_queries">Visual Queries</a></li>
			        </ul>
				</li>
				<li><a href="prototyping.html" class="">Prototyping</a>
					<ul style="top: 42px; visibility: visible; left: 0px; width: 130px; display: none;">
			            <li><a href="prototyping.html#map">Map</a></li>
			            <li><a href="prototyping.html#graph">Graph</a></li>
			            <li><a href="prototyping.html#chess">Chess</a></li>
			            <li><a href="prototyping.html#comparison">Comparison</a></li>
			        </ul>
				</li>
				<li><a href="final_design.html" class="">Final Design</a>
					<ul style="top: 42px; visibility: visible; left: 0px; width: 130px; display: none;">
			            <li><a href="final_design.html#changes">Changes</a></li>
			            <li><a href="final_design.html#design_motivation">Design Motivation</a></li>
			            <li><a href="final_design.html#interactivity">Interactivity</a></li>
			            <li><a href="final_design.html#discussion">Discussion</a></li>
			        </ul>
				</li>
				<li><a href="conclusion.html">Conclusion</a>
					<ul style="top: 42px; visibility: visible; left: 0px; width: 130px; display: none;">
			            <li><a href="conclusion.html#future_work">Future Work</a></li>
			            <li><a href="conclusion.html#acknowledgements">Acknowledgements</a></li>
			            <li><a href="conclusion.html#work_split">Work Split</a></li>
                </li>
			        </ul>
				<li><a href="references.html">References</a></li>
			</ul>
		</div>
		<div class="triangle-l"></div>
		<div class="triangle-r"></div>
  </nav>
</header>

<div id="main">

<div id="primary">
  <div id="content" role="main">
  
  
  <!-- begin article -->
  <article class="post hentry format-image" style="margin-bottom:0px">
    
    <div class="entry-content">

	<h3 id="future_work" class="entry-title" style="font-size:140%">Conclusion and Future Work</h3>
<p><span style="font-weight: 400;">The visualisation design does a satisfactory job of conveying the most important information quickly, concisely and correctly. While elements of it remain unpolished, its overall functionality is complete. The work is generalisable to other periods of war, &nbsp;whether from Martin&rsquo;s work, the work of other fantasy authors or real-world.</span></p>
<p><span style="font-weight: 400;">Future work could look at extending the data set used and the visualisation to include the locations of best-loved/best-hated characters such as Arya Stark and Cersei Lannister when particular battles are taking place. Additionally, implementing the design would be a good way of verifying its usefulness and usability.</span></p>

	<h3 id="acknowledgements" class="entry-title" style="font-size:140%">Acknowledgements</h3>
<p><span style="font-weight: 400;">The authors&rsquo; would like to extend credit and their thanks to Assoc. Prof. Michelle Kuttel of the University of Cape Town Computer Science Department and Laurisha Rampersad for their invaluable input and critique of the visualisation through each of its iterations. Their time and insights were both greatly appreciated.</span></p>

	<h3 id="work_split" class="entry-title" style="font-size:140%">Work Split</h3>
<p><span style="font-weight: 400;">The during the prototyping phase, every author contributed to the design of each prototype. However, Urisohn was responsible for implementing the map prototype, Borysova the graph prototype and Versfeld the chess prototype.</span></p>
<p><span style="font-weight: 400;">Both the initial and final presentations were developed by all three authors in unison, but with each author presenting the particular prototype they had implemented.</span></p>
<p><span style="font-weight: 400;">All three contributed to the final design, which was then implemented by Urisohn. Borysova and Versfeld headed up the implementation of the website. The authors contributed equally to the writing of this report.</span></p>


 	</div>
    <!-- .entry-content -->
    
  </article>
  <!-- end article -->
  		<nav id="nav-fixed">
			<div class="nav-previous"><a href="#" title="Older posts"><span class="meta-nav-prev">&larr;  Older posts</span></a></div>
			<div class="nav-next"><a href="#" title="Newer posts"><span class="meta-nav-next">Newer posts &rarr;</span></a></div>
		</nav><!-- #nav-above -->
	   
	<div class="clear"></div> 
	
    <!-- Begin Page-navi -->
    <ul class="page-navi" style="padding:15px">
    	<li><a href="final_design.html">Back</a></li>
    	<li><a href="references.html">Next</a></li>
    </ul>
    <!-- End Page-navi -->
  
  </div><!-- #content -->
</div><!-- #primary -->


</div><!-- #main -->

	</div><!-- #wrapper -->
</div><!-- #page -->

<script type="text/javascript" src="style/js/scripts.js"></script>
</body>
</html>
