<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>The War of Five Kings</title>
<link rel="shortcut icon" href="149185244126308.png"/>
<link rel="stylesheet" type="text/css" href="style.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/css/view.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/type/marketdeco.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/type/merriweather.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/css/queries.css" media="all" />
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="style/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="style/js/html5.js"></script>
<script type="text/javascript" src="style/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="style/js/selectnav.js"></script>
<script type="text/javascript" src="style/js/twitter.min.js"></script>
</head>

<body>
<div id="page" class="hfeed">
<div id="wrapper" style="border:1px">
<header id="branding" role="banner">
  <h1 id="site-title"> 
  	<a href="index.html" title="The War of Five Kings: Battles Visualisation" rel="home">
    		<img style="width:100%" src="images.jpg" alt="Serendipity" />
    </a> 
  </h1>
<nav id="access" class="access" role="navigation">
        <div id="menu" class="menu">
        	<ul id="tiny" deluminate_imagetype="png">
				<li><a href="index.html" class="">Introduction</a>
					<ul style="top: 42px; visibility: visible; left: 0px; width: 130px; display: none;">
			            <li><a href="index.html#target_audience">Target Audience</a></li>
			            <li><a href="index.html#data_set">Data Set</a></li>
			            <li><a href="index.html#visual_queries">Visual Queries</a></li>
			        </ul>
				</li>
				<li><a href="prototyping.html" class="">Prototyping</a>
					<ul style="top: 42px; visibility: visible; left: 0px; width: 130px; display: none;">
			            <li><a href="prototyping.html#map">Map</a></li>
			            <li><a href="prototyping.html#graph">Graph</a></li>
			            <li><a href="prototyping.html#chess">Chess</a></li>
			            <li><a href="prototyping.html#comparison">Comparison</a></li>
			        </ul>
				</li>
				<li><a href="final_design.html" class="">Final Design</a>
					<ul style="top: 42px; visibility: visible; left: 0px; width: 130px; display: none;">
			            <li><a href="final_design.html#changes">Changes</a></li>
			            <li><a href="final_design.html#design_motivation">Design Motivation</a></li>
			            <li><a href="final_design.html#interactivity">Interactivity</a></li>
			            <li><a href="final_design.html#discussion">Discussion</a></li>
			        </ul>
				</li>
				<li><a href="conclusion.html">Conclusion</a>
					<ul style="top: 42px; visibility: visible; left: 0px; width: 130px; display: none;">
			            <li><a href="conclusion.html#future_work">Future Work</a></li>
			            <li><a href="conclusion.html#acknowledgements">Acknowledgements</a></li>
			            <li><a href="conclusion.html#work_split">Work Split</a></li>
                </li>
			        </ul>
				<li><a href="references.html">References</a></li>
			</ul>
		</div>
		<div class="triangle-l"></div>
		<div class="triangle-r"></div>
  </nav>
</header>

<div id="main">

<div id="primary">
  <div id="content" role="main">
  
  
  <!-- begin article -->
  <article class="post hentry format-image">
  	<header class="entry-header">
		<h2 class="entry-title">Introduction</h2>
    </header>
    <!-- .entry-header -->
    
    <div class="entry-content">
 <p>
From Adams to Tolkien to Welsh, great authors and great books have always always curated passionate followers. In today’s day and age the same can be said for television series, with fandoms cropping up in every genre. When these two groups are united, as in the case of G.R.R. Martin’s A Song of Ice and Fire (ASoIaF) book series and the corresponding Game of Thrones (GoT) television series, the result is positively pyrotechnic. With fans painstakingly collating data from every conceivable source in an attempt to unravel the complexities of Martin’s creation, it becomes even more difficult to understand the precise flow of events and allegiances in  ASoIaF/GoT. Here visualisation becomes an invaluable tool for helping one grasp the mercurial politics.
</p> 
      <div class="full-size">
      	<img width="1041" height="535" src="maxresdefault.jpg" alt="" />
      </div>
 <p>
For the purposes of this assignment it was decided to focus particularly on the battles which formed The War of the Five Kings. This war has been the major focus of the books thus far, although the television series has gone ahead of them. Both ASoIaF and GoT move rapidly from battle to battle, with a lot of motion between characters in between, so it is often difficult to keep track of why a death was significant, or what happened five pages or minutes previously. Therefore visualising the sequence and nature of the battles will help fans of both mediums come to an understanding of what has transpired.
</p>
 	</div>
    <!-- .entry-content -->
    
  </article>
  <!-- end article -->
  
<!-- begin article -->
  <article id="target_audience" class="post hentry format-standard">
  	<header class="entry-header">
		<h2 class="entry-title">Target Audience</h2>
    </header>
    <!-- .entry-header -->
    
    <div class="entry-content">
<p>
These visualisation will primarily target current fans of ASoIaF, as this is where the data has been derived from. However, it will also appeal to fans of GoT and fans of both as the overview can be generalised to both media. Details such as the death of Lord Vance at the Battle of Golden Tooth are not highlighted in the television series, although they do contribute to one’s understanding of the story’s evolution - on both paper and screen. Therefore this visualisation will be of interest to GoT fans who have not read ASoIaF too.
</p>

 	</div>
    <!-- .entry-content -->
    
  </article>
  <!-- end article -->
  
  
  <!-- begin article -->
  <article id="data_set" class="post hentry format-standard">
  	<header class="entry-header">
		<h2 class="entry-title">Data Set</h2>
    </header>
    <!-- .entry-header -->
    
    <div class="entry-content">
      <div class="full-size">
      	<img width="1040" height="535" src="data_set.png" alt="" />
      </div>
      <p>The data set is a publically available one created by Chris Albon (Albon, 2014). It describes 38 battles which took place across Westeros, between the years 299 and 300 inclusive. It details the particular kings involved in the battle, describes the houses allied with them for the battle, the number of troops they had, the type of battle, any major deaths or captures which took place, the location of the battle and the commanders of the battles. In the interests of time, a subset of this data set was included in the final design, namely the first 27 of these battles.
</p>
<p>
Certain information, such as the details of major character deaths and the significance of them, had to be manually extracted from A Wiki of Ice and Fire (2017), the definitive online reference to the world of A Song of Ice and Fire. 
</p>

 	</div>
    <!-- .entry-content -->
    
  </article>
  <!-- end article -->
  
  
  <!-- begin article -->
  <article id="visual_queries" class="post hentry format-gallery" style="margin-bottom:0px">
  	<header class="entry-header">
		<h2 class="entry-title">Visual Queries</h2>
    </header>
    <!-- .entry-header -->
    
    <div class="entry-content">

<p>
The final design serviced many visual queries. Some were been included in the prototypes, however, that list was expanded to include queries suggested during further investigation of the topic. The final order of the queries was also modified in accordance with this feedback.
</p>
<p style="text-align: center;"><em><span style="font-weight: 400;">Table 1. Ranking of visual queries from most to least important</span></em></p>
      <div class="full-size">
      	<img width="1041" height="535" src="images/visual_queries.png" alt="" />
      </div>
<p><span style="font-weight: 400;">The relative rankings (illustrated in Table 1) of these queries was established in informal discussions with fans of ASoIaF/GoT. It also took into account feedback from the presentation of the prototypes which requested that more detail regarding characters be included. Where queries are grouped into the same rank it was decided that they were of equal importance, and so the order in which they were resolved relative to each other was of little concern.</span></p>

 	</div>
    <!-- .entry-content -->
    
  </article>
  <!-- end article -->
  
  		<nav id="nav-fixed">
			<div class="nav-previous"><a href="#" title="Older posts"><span class="meta-nav-prev">&larr;  Older posts</span></a></div>
			<div class="nav-next"><a href="#" title="Newer posts"><span class="meta-nav-next">Newer posts &rarr;</span></a></div>
		</nav><!-- #nav-above -->
	   
	
    <!-- Begin Page-navi -->
<div>
    <ul class="page-navi" style="padding:15px">
    	<!--li><a href="#">Previous</a></li-->
    	<li><a href="prototyping.html">Next</a></li>
    </ul>
</div>
    <!-- End Page-navi -->
  
  </div><!-- #content -->
</div><!-- #primary -->


</div><!-- #main -->

	</div><!-- #wrapper -->
</div><!-- #page -->

<script type="text/javascript" src="style/js/scripts.js"></script>
</body>
</html>
