<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>The War of Five Kings</title>
<link rel="shortcut icon" href="149185244126308.png"/>
<link rel="stylesheet" type="text/css" href="style.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/css/view.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/type/marketdeco.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/type/merriweather.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/css/queries.css" media="all" />
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="style/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="style/js/html5.js"></script>
<script type="text/javascript" src="style/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="style/js/selectnav.js"></script>
<script type="text/javascript" src="style/js/twitter.min.js"></script>
</head>

<body>
<div id="page" class="hfeed">
<div id="wrapper">
<header id="branding" role="banner">
  <h1 id="site-title"> 
  	<a href="index.html" title="The War of Five Kings: Battles Visualisation" rel="home">
    		<img style="width:100%" src="images.jpg" alt="Serendipity" />
    </a> 
  </h1>
  <nav id="access" class="access" role="navigation">
        <div id="menu" class="menu">
        	<ul id="tiny">
				<li><a href="index.html">Introduction</a>
					<ul>
			            <li><a href="post.html">Data Set</a></li>
			            <li><a href="post.html">Visual Queries</a></li>
			        </ul>
				</li>
				<li><a href="lit_review.html">Literature Review</a></li>
				<li><a href="prototyping.html">Prototyping</a>
					<ul>
			            <li><a href="misc.html">Map</a></li>
			            <li><a href="columns.html">Graph</a></li>
			            <li><a href="typography.html">Chess</a></li>
			            <li><a href="typography.html">Comparison</a></li>
			        </ul>
				</li>
				<li><a href="final_design.html">Final Design</a></li>
					<ul>
			            <li><a href="misc.html">Changes</a></li>
			            <li><a href="columns.html">Interactivity</a></li>
			            <li><a href="typography.html">Discussion</a></li>
			        </ul>
				<li><a href="conclusion.html">Conclusion</a></li>
				<li><a href="references.html">References</a></li>
			</ul>
		</div>
		<div class="triangle-l"></div>
		<div class="triangle-r"></div>
  </nav>
  <!-- #access --> 
</header>
<!-- #branding -->

<div id="main">

<div id="primary">
  <div id="content" role="main">
  
  
  <!-- begin article -->
  <article class="post hentry format-image">
  	<header class="entry-header">
		<h2 class="entry-title"><a href="post.html">Literature Review</a></h2>
    </header>
    <!-- .entry-header -->
    
    <div class="entry-content">
      <div class="full-size">
      	<a href="post.html"><img width="1040" height="535" src="style/images/art/post1.jpg" alt="" /></a>
      </div>
 <p>
From Adams to Tolkien to Welsh, great authors and great books have always always curated passionate followers. In today’s day and age the same can be said for television series, with fandoms cropping up in every genre. When these two groups are united, as in the case of G.R.R. Martin’s A Song of Ice and Fire (ASoIaF) book series and the corresponding Game of Thrones (GoT) television series, the result is positively pyrotechnic. With fans painstakingly collating data from every conceivable source in an attempt to unravel the complexities of Martin’s creation, it becomes even more difficult to understand the precise flow of events and allegiances in  ASoIaF/GoT. Here visualisation becomes an invaluable tool for helping one grasp the mercurial politics.
</p> 
 <p>
For the purposes of this assignment it was decided to focus particularly on the battles which formed The War of the Five Kings. This war has been the major focus of the books thus far, although the television series has gone ahead of them. Both ASoIaF and GoT move rapidly from battle to battle, with a lot of motion between characters in between, so it is often difficult to keep track of why a death was significant, or what happened five pages or minutes previously. Therefore visualising the sequence and nature of the battles will help fans of both mediums come to an understanding of what has transpired.
</p>
 	</div>
    <!-- .entry-content -->
    
  </article>
  <!-- end article -->
  
  <!-- begin article -->
  <article class="post hentry format-standard">
  	<header class="entry-header">
		<h2 class="entry-title"><a href="post.html">Map</a></h2>
    </header>
    <!-- .entry-header -->
    
    <div class="entry-content">
      <p>The data set is a publically available one created by Chris Albon (Albon, 2014). It describes 38 battles which took place across Westeros, between the years 299 and 300 inclusive. It details the particular kings involved in the battle, describes the houses allied with them for the battle, the number of troops they had, the type of battle, any major deaths or captures which took place, the location of the battle and the commanders of the battles. In the interests of time, a subset of this data set was included in the final design, namely the first 27 of these battles.
</p>
<p>
Certain information, such as the details of major character deaths and the significance of them, had to be manually extracted from A Wiki of Ice and Fire (2017), the definitive online reference to the world of A Song of Ice and Fire. 
</p>

 	</div>
    <!-- .entry-content -->
    
  </article>
  <!-- end article -->
  
  
  <!-- begin article -->
  <article class="post hentry format-gallery">
  	<header class="entry-header">
		<h2 class="entry-title"><a href="post.html">Graph</a></h2>
    </header>
    <!-- .entry-header -->
    
    <div class="entry-content">
      	<ul class="gallery-items">
	      	<li class="item">
	      		<a href="style/images/art/gallery1-full.jpg" class="view" rel="gallery"  title="Transparent Flower">
	      			<span class="overlay zoom"></span>
	      			<img src="style/images/art/gallery1.jpg" alt=""/>
	      		</a>
	      	</li>
	      	<li class="item">
	      		<a href="style/images/art/gallery2-full.jpg" class="view" rel="gallery" title="Losing Toucing Searching">
	      			<span class="overlay zoom"></span>
	      			<img src="style/images/art/gallery2.jpg" alt=""/>
	      		</a>
	      	</li>
	      	<li class="item">
	      		<a href="style/images/art/gallery3-full.jpg" class="view" rel="gallery" title="Good Frames Ugly Picture">
	      			<span class="overlay zoom"></span>
	      			<img src="style/images/art/gallery3.jpg" alt=""/>
	      		</a>
	      	</li>
	      	<li class="item">
	      		<a href="style/images/art/gallery4-full.jpg" class="view" rel="gallery" title="Faceless Disguise">
	      			<span class="overlay zoom"></span>
	      			<img src="style/images/art/gallery4.jpg" alt=""/>
	      		</a>
	      	</li>
      	</ul>
<p>O my friend &#8212; but it is too much for my strength &#8212; I sink under the weight of the splendour of these visions! A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
<p>He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.</p>

 	</div>
    <!-- .entry-content -->
    
  </article>
  <!-- end article -->
  
  <!-- begin article -->
  <article class="post hentry format-quote">
  	<header class="entry-header">
		<h2 class="entry-title"><a href="post.html">Chess</a></h2>
    </header>
    <!-- .entry-header -->
    
    <div class="entry-content">
      <blockquote>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment.<cite>Kafka</cite></blockquote>            
 	</div>
    <!-- .entry-content -->
    
  </article>
  <!-- end article -->
  
  <!-- begin article -->
  <article class="post hentry format-video">
  	<header class="entry-header">
		<h2 class="entry-title"><a href="post.html">Comparison</a></h2>
    </header>
    <!-- .entry-header -->
    
    <div class="entry-content">
      <div class='media'>
      	<iframe src="http://player.vimeo.com/video/11513701?title=0&byline=0&portrait=0&color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>      
      <p>Filmed on May 5, 2010, a mostly first-person chronicle of the day&#8217;s events leading up to a performance in Wollongong, Australia. Shot on Canon 5D mkII with 50mm 1.2 and 24-70 lenses.</p>


 	</div>
    <!-- .entry-content -->
    
  </article>
  <!-- end article -->
  
  
  		<nav id="nav-fixed">
			<div class="nav-previous"><a href="#" title="Older posts"><span class="meta-nav-prev">&larr;  Older posts</span></a></div>
			<div class="nav-next"><a href="#" title="Newer posts"><span class="meta-nav-next">Newer posts &rarr;</span></a></div>
		</nav><!-- #nav-above -->
	   
	<div class="clear"></div> 
	
    <!-- Begin Page-navi -->
    <ul class="page-navi">
    	<li><a href="#" class="current">1</a></li>
    	<li><a href="#">2</a></li>
    	<li><a href="#">3</a></li>
    </ul>
    <!-- End Page-navi -->
  
  </div><!-- #content -->
</div><!-- #primary -->


</div><!-- #main -->

	<footer id="colophon" role="contentinfo">
		<div id="supplementary" class="four">
			<div id="first" class="widget-area" role="complementary">
				<aside class="widget">
					<h5 class="widget-title">Search</h5>	
					<form method="get" id="searchform" action="http://themes.iki-bir.com/serendipity-wp/">
						<input type="text" class="field" name="s" id="s" title="Search" placeholder="" />
						<input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
					</form>
				</aside>
				
				<aside class="widget">
					<h5 class="widget-title">Recent Posts</h5>		
						<ul>
							<li><a href="#" title="A Wonderful Serenity">A Wonderful Serenity</a></li>
							<li><a href="#" title="The Meridian Sun">The Meridian Sun</a></li>
							<li><a href="#" title="Gallery Format">Gallery Format</a></li>
							<li><a href="#" title="Gregor Samsa">Gregor Samsa</a></li>
							<li><a href="#" title="A Life In The Day">A Life In The Day</a></li>
						</ul>
				</aside>
			</div><!-- #first .widget-area -->
	
			<div id="second" class="widget-area" role="complementary">
				<aside class="widget">
					<h5 class="widget-title">Twitter</h5>
					<div id="twitter-wrapper">
						<div id="twitter"></div>
						<span class="username"><a href="http://twitter.com/elemisdesign">→ Follow @elemisdesign</a></span>
					</div>
				</aside>	
			</div><!-- #second .widget-area -->
	
			<div id="third" class="widget-area" role="complementary">
				<aside class="widget">
					<h5 class="widget-title">Tags</h5>
						<div class="tagcloud"><a href='#' class='tag-link-37' title='1 topic' style='font-size: 8pt;'>blogroll</a>
						<a href='#' class='tag-link-33' title='4 topics' style='font-size: 19.666666666667pt;'>daily</a>
						<a href='#' class='tag-link-32' title='1 topic' style='font-size: 8pt;'>dialog</a>
						<a href='#' class='tag-link-28' title='1 topic' style='font-size: 8pt;'>gallery</a>
						<a href='#' class='tag-link-27' title='1 topic' style='font-size: 8pt;'>journal</a>
						<a href='#' class='tag-link-36' title='1 topic' style='font-size: 8pt;'>link</a>
						<a href='#' class='tag-link-31' title='1 topic' style='font-size: 8pt;'>motion</a>
						<a href='#' class='tag-link-38' title='1 topic' style='font-size: 8pt;'>music</a>
						<a href='#' class='tag-link-25' title='5 topics' style='font-size: 22pt;'>photo</a>
						<a href='#' class='tag-link-26' title='2 topics' style='font-size: 13.25pt;'>professional</a>
						<a href='#' class='tag-link-29' title='1 topic' style='font-size: 8pt;'>quotation</a>
						<a href='#' class='tag-link-34' title='1 topic' style='font-size: 8pt;'>show</a>
						<a href='#' class='tag-link-39' title='1 topic' style='font-size: 8pt;'>sound</a>
						<a href='#' class='tag-link-35' title='1 topic' style='font-size: 8pt;'>tv</a>
						<a href='#' class='tag-link-30' title='1 topic' style='font-size: 8pt;'>video</a></div>
				</aside>
				
				<aside class="widget">
					<h5 class="widget-title">Archives</h5>
						<ul>
							<li><a href='#' title='May 2012'>May 2012</a></li>
							<li><a href='#' title='April 2012'>April 2012</a></li>
						</ul>
				</aside>
			</div><!-- #third .widget-area -->
		
			<div id="fourth" class="widget-area" role="complementary">
				<aside class="widget">
					<h5 class="widget-title">About</h5>			
					<div class="textwidget"><p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. </p>
						<p>I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
					</div>
				</aside>
			</div><!-- #third .widget-area -->
		</div><!-- #supplementary -->
		<div id="site-generator">
			Copyright 2012 - Serendipity
		</div>

	</footer><!-- #colophon -->
	</div><!-- #wrapper -->
</div><!-- #page -->

<script type="text/javascript" src="style/js/scripts.js"></script>
</body>
</html>
