<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>The War of Five Kings</title>
<link rel="shortcut icon" href="149185244126308.png"/>
<link rel="stylesheet" type="text/css" href="style.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/css/view.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/type/marketdeco.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/type/merriweather.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/css/queries.css" media="all" />
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="style/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="style/js/html5.js"></script>
<script type="text/javascript" src="style/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="style/js/selectnav.js"></script>
<script type="text/javascript" src="style/js/twitter.min.js"></script>
</head>

<body>
<div id="page" class="hfeed">
<div id="wrapper" style="border:1px">
<header id="branding" role="banner">
  <h1 id="site-title"> 
  	<a href="index.html" title="The War of Five Kings: Battles Visualisation" rel="home">
    		<img style="width:100%" src="images.jpg" alt="Serendipity" />
    </a> 
  </h1>
<nav id="access" class="access" role="navigation">
        <div id="menu" class="menu">
        	<ul id="tiny" deluminate_imagetype="png">
				<li><a href="index.html" class="">Introduction</a>
					<ul style="top: 42px; visibility: visible; left: 0px; width: 130px; display: none;">
			            <li><a href="index.html#target_audience">Target Audience</a></li>
			            <li><a href="index.html#data_set">Data Set</a></li>
			            <li><a href="index.html#visual_queries">Visual Queries</a></li>
			        </ul>
				</li>
				<li><a href="prototyping.html" class="">Prototyping</a>
					<ul style="top: 42px; visibility: visible; left: 0px; width: 130px; display: none;">
			            <li><a href="prototyping.html#map">Map</a></li>
			            <li><a href="prototyping.html#graph">Graph</a></li>
			            <li><a href="prototyping.html#chess">Chess</a></li>
			            <li><a href="prototyping.html#comparison">Comparison</a></li>
			        </ul>
				</li>
				<li><a href="final_design.html" class="">Final Design</a>
					<ul style="top: 42px; visibility: visible; left: 0px; width: 130px; display: none;">
			            <li><a href="final_design.html#changes">Changes</a></li>
			            <li><a href="final_design.html#design_motivation">Design Motivation</a></li>
			            <li><a href="final_design.html#interactivity">Interactivity</a></li>
			            <li><a href="final_design.html#discussion">Discussion</a></li>
			        </ul>
				</li>
				<li><a href="conclusion.html">Conclusion</a>
					<ul style="top: 42px; visibility: visible; left: 0px; width: 130px; display: none;">
			            <li><a href="conclusion.html#future_work">Future Work</a></li>
			            <li><a href="conclusion.html#acknowledgements">Acknowledgements</a></li>
			            <li><a href="conclusion.html#work_split">Work Split</a></li>
                </li>
			        </ul>
				<li><a href="references.html">References</a></li>
			</ul>
		</div>
		<div class="triangle-l"></div>
		<div class="triangle-r"></div>
  </nav>
</header>

<div id="main">

<div id="primary">
  <div id="content" role="main">
  
  
  <!-- begin article -->
  <article class="post hentry format-image">
  	<header class="entry-header">
		<h2 class="entry-title">References</h2>
    </header>
    <!-- .entry-header -->
    
<p><span style="font-weight: 400;">Albon, C. (2014). The War of Five Kings, a data set. [csv] Retrieved from </span><a href="https://github.com/chrisalbon/war_of_the_five_kings_dataset"><span style="font-weight: 400;">https://github.com/chrisalbon/war_of_the_five_kings_dataset</span></a></p>
<p><span style="font-weight: 400;">A Wiki of Ice and Fire. (2017). War of Five Kings. [wiki] Retrieved from </span><a href="http://awoiaf.westeros.org/index.php/War_of_the_Five_Kings"><span style="font-weight: 400;">http://awoiaf.westeros.org/index.php/War_of_the_Five_Kings</span></a></p>
<p><span style="font-weight: 400;">Knowles, A. (2013). Decisive moments in the Battle of Gettysburg. Retrieved from </span><a href="http://www.smithsonianmag.com/history/A-Cutting-Edge-Second-Look-at-the-Battle-of-Gettysburg-1-180947921/"><span style="font-weight: 400;">http://www.smithsonianmag.com/history/A-Cutting-Edge-Second-Look-at-the-Battle-of-Gettysburg-1-180947921/</span></a></p>
<p><span style="font-weight: 400;">Quartermaster (n.d.) Speculative interactive Game of Thrones map. [article] Retrieved from </span><a href="https://quartermaester.info/"><span style="font-weight: 400;">https://quartermaester.info/</span></a></p>
<p><span style="font-weight: 400;">Shneiderman, B. (1996, September). The eyes have it: A task by data type taxonomy for information visualizations. In </span><em><span style="font-weight: 400;">Visual Languages, 1996. Proceedings., IEEE Symposium on</span></em><span style="font-weight: 400;"> (pp. 336-343). IEEE.</span></p>
<p>&nbsp;</p>
	<h3 class="entry-title" style="font-size:120%">Images</h3>
<p><span style="font-weight: 400;">Amok. (2015). The war of five kings. Retrieved from </span><a href="https://i.ytimg.com/vi/NWY4qKuQMWU/maxresdefault.jpg"><span style="font-weight: 400;">https://i.ytimg.com/vi/NWY4qKuQMWU/maxresdefault.jpg</span></a></p>
<p><span style="font-weight: 400;">Arrow show symbol direction right. (n.d.). Retrieved from </span><a href="https://pixabay.com/en/arrow-show-symbol-direction-right-1314470/"><span style="font-weight: 400;">https://pixabay.com/en/arrow-show-symbol-direction-right-1314470/</span></a></p>
<p><span style="font-weight: 400;">Azraeuz. (2012) A Song of Storm and Fire Iron Throne. Retrieved from </span><a href="http://azraeuz.deviantart.com/art/A-Song-of-Storm-and-Fire-Iron-Throne-287111713"><span style="font-weight: 400;">http://azraeuz.deviantart.com/art/A-Song-of-Storm-and-Fire-Iron-Throne-287111713</span></a></p>
<p><span style="font-weight: 400;">Check mark in white. (n.d.). Retrieved from </span><a href="http://www.clker.com/clipart-check-mark-in-white.html"><span style="font-weight: 400;">http://www.clker.com/clipart-check-mark-in-white.html</span></a></p>
<p><span style="font-weight: 400;">Crossed swords. (n.d.). Retrieved from </span><a href="http://www.seiyaku.com/customs/crosses/swords.html"><span style="font-weight: 400;">http://www.seiyaku.com/customs/crosses/swords.html</span></a></p>
<p><span style="font-weight: 400;">Drive, M. (2015). Game of Thrones wallpaper. Retrieved from </span><a href="https://wallpapersafari.com/w/tDJK1m"><span style="font-weight: 400;">https://wallpapersafari.com/w/tDJK1m</span></a></p>
<p><span style="font-weight: 400;">De Paula, T. (n.d.). Dotted line. Retrieved from </span><a href="https://thenounproject.com/term/dotted-line/19125/"><span style="font-weight: 400;">https://thenounproject.com/term/dotted-line/19125/</span></a></p>
<p><span style="font-weight: 400;">Game of Thrones decal. (n.d.). Retrieved from </span><a href="https://s-media-cache-ak0.pinimg.com/736x/fc/97/fa/fc97faef5978c82882d1f18372a7334e.jpg"><span style="font-weight: 400;">https://s-media-cache-ak0.pinimg.com/736x/fc/97/fa/fc97faef5978c82882d1f18372a7334e.jpg</span></a></p>
<p><span style="font-weight: 400;">Glypho - travel 3. (n.d.). Retrieved from </span><a href="https://www.iconfinder.com/icons/351654/building_castle_history_tower_icon"><span style="font-weight: 400;">https://www.iconfinder.com/icons/351654/building_castle_history_tower_icon</span></a></p>
<p><span style="font-weight: 400;">Hillsdon, A. (2013). Game of Thrones narrative chart. Retrieved from </span><a href="https://www.behance.net/gallery/9024025/Game"><span style="font-weight: 400;">https://www.behance.net/gallery/9024025/Game</span></a><span style="font-weight: 400;">-of-Thrones-narrative-chart</span></p>
<p><span style="font-weight: 400;">Holt, J. (n.d.). Location pin clipart. Retrieved from </span><a href="https://clipartfox.com/download/53c4c5207e11c91854e0696d743521e611acb003.html"><span style="font-weight: 400;">https://clipartfox.com/download/53c4c5207e11c91854e0696d743521e611acb003.html</span></a></p>
<p><span style="font-weight: 400;">Maximus, R. (2014). Game of Thrones logo. Retrieved from </span><a href="http://www.geektown.co.uk/wp-content/uploads/2011/04/game-of-thrones-logo.jpg"><span style="font-weight: 400;">http://www.geektown.co.uk/wp-content/uploads/2011/04/game-of-thrones-logo.jpg</span></a></p>
<p><span style="font-weight: 400;">Mini arrows 2. (n.d.) Retrieved from </span><a href="https://www.iconfinder.com/icons/686640/arrow_arrow_pointing_four_arrow_inward_midpoint_shrink_icon"><span style="font-weight: 400;">https://www.iconfinder.com/icons/686640/arrow_arrow_pointing_four_arrow_inward_midpoint_shrink_icon</span></a></p>
<p><span style="font-weight: 400;">Mitchelle, M. (n.d.). Man silhouette clip art. Retreived from </span><a href="https://clipartfest.com/download/f0284eab9ed51f951e2bc1343f9cb02f18952e73.html"><span style="font-weight: 400;">https://clipartfest.com/download/f0284eab9ed51f951e2bc1343f9cb02f18952e73.html</span></a></p>
<p><span style="font-weight: 400;">Query. (n.d.). Retrieved from </span><a href="http://1.bp.blogspot.com/_yEUljBTKqKg/SmZRGq4KHTI/AAAAAAAAAWo/CtrDlNMISGY/s400/interroga%25C3%25A7%25C3%25A3o.jpg"><span style="font-weight: 400;">http://1.bp.blogspot.com/_yEUljBTKqKg/SmZRGq4KHTI/AAAAAAAAAWo/CtrDlNMISGY/s400/interroga%25C3%25A7%25C3%25A3o.jpg</span></a></p>
<p><span style="font-weight: 400;">Skowalsky, A. (n.d.). Flame. Retrieved from </span><a href="https://thenounproject.com/term/flame/122214/"><span style="font-weight: 400;">https://thenounproject.com/term/flame/122214/</span></a></p>
<p><span style="font-weight: 400;">Plux-minus. (n.d.). Retrieved from </span><a href="https://icons8.com/web-app/1506/plus-minus"><span style="font-weight: 400;">https://icons8.com/web-app/1506/plus-minus</span></a></p>
<p><span style="font-weight: 400;">Yellow star png image. (n.d.). Retrieved from </span><a href="http://pngimg.com/download/1597"><span style="font-weight: 400;">http://pngimg.com/download/1597</span></a></p>
<p><span style="font-weight: 400;">Zoom icon png. (n.d.) Retrieved from </span><a href="http://www.freeiconspng.com/free-images/zoom-icon-png-16565"><span style="font-weight: 400;">http://www.freeiconspng.com/free-images/zoom-icon-png-16565</span></a></p>
<p>&nbsp;</p>
	<h3 class="entry-title" style="font-size:120%">Webpage Template</h3>
<p><span style="font-weight: 400;">Webpage adapted from the </span><em><span style="font-weight: 400;">Serendipity</span></em><span style="font-weight: 400;"> theme available for free for personal reuse &nbsp;from </span><a href="http://elemisfreebies.com/09/03/serendipity-free-html-template/"><span style="font-weight: 400;">http://elemisfreebies.com/09/03/serendipity-free-html-template/</span></a></p>
 	</div>
    <!-- .entry-content -->
    
  </article>
  <!-- end article -->
  
  		<nav id="nav-fixed">
			<div class="nav-previous"><a href="#" title="Older posts"><span class="meta-nav-prev">&larr;  Older posts</span></a></div>
			<div class="nav-next"><a href="#" title="Newer posts"><span class="meta-nav-next">Newer posts &rarr;</span></a></div>
		</nav><!-- #nav-above -->
	   
	<div class="clear"></div> 
	
    <!-- Begin Page-navi -->
    <ul class="page-navi">
    	<li><a href="conclusion.html">Back</a></li>
    </ul>
    <!-- End Page-navi -->
  
  </div><!-- #content -->
</div><!-- #primary -->


</div><!-- #main -->
	</div><!-- #wrapper -->
</div><!-- #page -->

<script type="text/javascript" src="style/js/scripts.js"></script>
</body>
</html>
